body {
  background-color: ghostwhite;
  margin: 0;
  padding: 0;
}

.black-img {
    width: 100%;
    height: auto;
    background-color: black;
    align-content: center;
}

.img-search {
    width: 100%;
    height: auto;
}

.input-search {
    width: 70%;
}

.main {
    padding: 20px;
    display: block;
}

.nav-theme {
    opacity: 0.5;
    position: fixed;
    width: 100%;
}
.navbar {
    float: right !important;
}
